.highscores__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;
    overflow: auto;
}
.wrapper::-webkit-scrollbar {
    display: none; /* chrome based */
}

.wrapper {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    z-index: 2;
}

@media (max-width: 570px) {
    table {
        font-size: 1.4rem;
    }
    td {
        padding: 0.3rem;
    }
}
@media (max-width: 430px) {
    table {
        font-size: 1.2em;
    }
    td {
        padding: 0.2rem;
    }
}
@media (max-width: 360px) {
    table {
        font-size: 1em;
    }
    td {
        padding: 0.1rem;
    }
}

.table_name {
    font-size: 3rem;
    font-weight: bold;
    color: #1D9AF2;
}

th {
    background: #BCEBDD;
    color: #00187e;
    text-shadow: 0 1px 1px #2D2020;
    padding: 0.5rem;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    color: black;
}

th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 0.5rem 1rem;
    background: #F8E391;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}